/****** Normalize CSS*/
*,
*::after
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body{
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
background: url(/images/menu-background.jpeg);
background-size: cover;
}

nav> ul {
display: flex;
justify-content: center;
list-style-type: none;
background-color: #333;
font-size: 30px;
}

nav> ul > li {
color: aliceblue;
padding: .75rem 1rem;

}

main {
 max-width: 1024px;
 background-color: white;
 margin: 7rem auto;
 border: solid #ffaf31 5px;
 border-radius: 15px 50px;
 padding: 0 1rem;
}

#hero {
min-height: 200px;
background-image: url(/images/chickenParmesan.webp); 
background-size: cover;
border-radius: 15px 50px;

}

h1 {
color: white;
font-size: 80px;
font-family: 'Voltage';
text-align: center;
margin-top: 50px;
padding: 70px 0;
}

.menu-items {
margin: 5rem auto;
padding: 0 5rem;
column-count: 2;
column-gap: 1.5rem;
}

.menu-items__item {
padding: 1rem;
page-break-inside: avoid;
}

footer {
text-align: center;
background-color: #a9a9a95c;
padding: 1rem;
}